.top{
  background-color: #bbe1fa;
  width: 200px;
  height: 200px;
  border: solid 10px;
  border-color: #3282b8;
  padding: 20px;
}

.mittle{
  background-color: red;
  border: solid 10px;
  width: 300px;
  height: 300px;
  margin-left: 260px;
}

.buttom{
  background-color: blue;
  width: 300px;
  height: 300px;
  border: 10px;
  margin-left: 580px;
}
.school{
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.center{
  text-align: center;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;

}

.code-image{
  width: 20%;
  float: left;
  margin-right: 30px;
}

.skill-row-image{
  width: 20%;
  float: right;
  margin-left: 30px;
}

.profile{
  text-align: center;
}

.end{
  text-align: right;
}

h1{
  font-size: 200%;
  margin-top: 50px;
  text-align: center;
  color: #3282b8;
  line-height: 1.5;
}

h2{
  color: #3282b8;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
}

body{
  margin: 0;
  background-color: #bbe1fa;
  font-family: 'Baloo 2', cursive;
  font-family: 'Lora', serif;
}
